form {
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 50);
}

main h2 {
    margin: 0px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 50);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input {
    width: auto;
    margin-bottom: 2em;
}

#assignedFunction {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    margin: 0px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 50);
}

#assignedFunction article {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    /* border: 1px;
    border-color: #ffc107;
    border-style: solid; */
}

#assignedFunction article div:first-child {
    display: flex;
    justify-content: start;
    padding: 10px;
    align-items: start;
    width: 80%;
}

#assignedFunction article div span {
    display: flex;
    justify-content: start;
    min-width: 80px;
    height: 100%;
    word-break: keep-all;
}

#infoHead {
    display: flex;
    justify-content: start;
    width: 80%;
    padding: 10px 15px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 50);
}

#infoHead article {
    display: flex;
    justify-content: start;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 50);
}

#infoHead article div {
    display: flex;
    justify-content: start;
    margin-right: 10px;
    padding: 15px 0px;
}

#infoHead article div span {
    margin-left: 15px;
    /* border-radius: 5px;
    color: black;
    background-color: yellow; */
}

#updateBtn {
    display: none;
}

#form {
    width: 400px;
}

#formAssign {
    width: 350px;
}

#formAccountable {
    width: 350px;
}

#formDescription {
    width: 350px;
}

#functionName {
    width: 300px;
    margin: 10px 0px;
}

#accountableName {
    width: 300px;
    margin: 10px 0px;
}

#assignDescription {
    margin: 10px 0px;
    overflow-y: scroll;
    word-wrap: break-word;
    text-align: justify;
}

footer {
    background-color: black;
}

footer img {
    margin: 10px 50px;
    width: 100px;
}
