form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 2em;
}

.formulario {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}

#assignedFunction {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#assignedFunction article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#assignedFunction article div:first-child {
    display: flex;
}

p {
    margin-right: 15px;
}

#updateBtn {
    display: none;
}

#form {
    width: 400px;
}

#formAssign {
    width: 350px;
}

#formAccountable {
    width: 350px;
}

#formDescription {
    width: 350px;
}

#functionName {
    width: 300px;
    margin-top: 10px;
}

#accountableName {
    width: 300px;
    margin-top: 10px;
}

#assignDescription {
    margin-top: 10px;
    overflow-y: scroll;
    word-wrap: break-word;
    text-align: justify;
}